@charset "utf-8";
/* CSS Document */

/*弹出载人*/
#pop_loading p{
    /*display:block;*/
    /*line-height:30px;*/
    text-align:center;
    color:#2E6E9E;
    font-size:12px;
}
#pop_loading_word{
	line-height:30px;
}
#pop_loading_second{
	background:url(../images/pop_loading.gif);
	width:43px;
	height:43px; 
	line-height:43px;
	/*font-size:12px; */
	font-weight:bold; 
	margin:auto;
	/*padding:0;*/
}